*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.bg-color-pink{
    background-color: #fab8c4;
}

.padding-x{
    padding: 0px 20px;
}


.circle{
    border-radius: 100px;
}
.a-color{
    color: #007bff!important;
}
.tn-atom-img{
    width: 100%;
    display: block;
}

.tn-atom-img > *{
    width: 150px;
    text-align: end;
}
.container-nav{
    width: 80%;
    margin: 0 auto;
}
.blue{
    color: rgb(89, 86, 223);
}
.fw-bold{
    font-weight: bolder;
}
@media only screen and (max-width: 1200px){
    .title-h1{
        font-size: 3rem;
    }
    .margin-top{
        margin: 200px!important;
    }
    .container-nav{
        width: 100%!important   ;
    }
    .font-size-intro{
        font-size:3rem!important;
    }
    .container-body{
        width: 80%!important;
        margin-top: 150px!important;
    }
    .btn-style{
        width: 20%!important;
    }
    #sec3{
        background-size: 100% !important;
        height: 1500px !important;
    }
    .padding-title{
        margin: 0px auto !important;
        font-size: 2rem !important;
        padding-top: 50px !important;
        margin-bottom: 30px !important;
    }
    .container-row{
        width: 100% !important;
        /* margin-right: 100px !important;  */
        padding-top: 25px !important;
        margin: 0px!important;
    }
    .icons{
        margin-bottom: 10px !important;
        width: 20% !important;
    }
    .rocket{
        width: 15% !important;
    }
    .medal{
        /* width: 24% !important; */
    }
    .heart{
        /* width: 33% !important; */
    }
    .text-introduction{
        width: 60% !important;
        margin: 0px!important;
    }
    .text-align-end{
        text-align: end !important;
    }
    .woman-img{
        position: absolute;
        top: -17rem !important;
        right: 2rem !important;
    }
    .buttons-text{
        height: 450px !important;
    }
    .container-body{
        
    }

}
@media only screen and (min-width: 1200px){
    .title-h1{
        font-size: 3rem;
    }
    .margin-top{
        margin: 200px!important;
    }
    .container-nav{
        width: 100%!important;
    }
    .font-size-intro{
        font-size:3rem!important;
    }
    .container-body{
        width: 80%!important;
        margin-top: 150px!important;
    }
    .btn-style{
        width: 30%!important;
    }
    #sec3{
        background-size: 100% !important;
        height: 1100px !important;
    }
    .padding-title{
        font-size: 4rem !important;
        padding-top: 50px !important;
        margin-bottom: 30px !important;
        margin-right: 400px !important;
        margin-left: 400px !important;
    }
    .container-row{
        width: 60% !important;
        margin-right: 220px !important;
        padding-top: 25px !important;
        
    }
    .icons{
        margin-bottom: 10px !important;
        width: 15% !important;
    }
    .heart{
        width: 20% !important;
    }
    .rocket{
        width: 11% !important;
    }
    .medal{
        width: 18%!important;
    }
}
.atom-img{
    width: 70%;
}
.dis-inline{
    display: inline-block;
    width: 10%;
    height: 10%;
}
.margin-left{
    margin-left: 30px;
}

@media only screen and (max-width: 520px){
    .margin-right{
        margin-right: 0px!important;
    }
    .container-nav{
        width: 100%!important   ;
    }
    .font-size-intro{
        font-size:1.6rem!important;
        margin-bottom: 100px !important;
    }
    .container-body{
        width: 100%!important;
        margin-top: 50px!important;
    }
    .btn-style{
        width: 100%!important;
    }
    .atom-style-big{
        width: 90px!important;
        height: 90px!important;
    }
    .instagram-img{
        width: 60px!important;
        margin-bottom: 2rem !important; 
    }
    .fire-emoji{
        top: 375px!important;
        position: absolute!important;
        right: 8px!important;

    }   
    .position-fixed{
        position: relative!important;
    }
    .woman-img{
        width: 150px !important;
        /* margin: 0px 2rem !important; */
        /* margin-bottom: -100px !important; */
        top: 0px !important;
        right: 0px !important;
        margin: 0px calc(100% - 50%) !important;
    }
    .noroot-img{
        width: 70px!important;
        /* top: 725px!important; */
        /* right: 230px!important; */
        z-index: 10!important;
        position: absolute;
        top: 520px;
    }
    /* .atom-style{
        width: 30px!important;
        top: 710px!important;
        right: 235px!important;
        height: 30px!important;
        z-index: 1!important;
    } */
    /* .atom-style-middle{
        top: 60px!important;
        right: 50px!important;
    } */
    .padding-title{
        margin: 0px auto !important;
        font-size: 1.8rem !important;
        padding-top: 50px !important;
    }
    .container-row{
        width: 80% !important;
        padding-top: 25px !important;
        margin-right: 0px !important;
    }
    .text-info{
        width: 80% !important;
        margin-bottom: 100px !important;
    }
    #sec3{
        height: 1450px !important;
        background-size: 100% !important;
    }
    .container-body{
        width: 88% !important;
    }
    
}
@media only screen and (max-width: 1200px){
    .btn-style{
        width: 50% !important; 
    }
    .text-info{
        width: 50% !important;
        display: block !important;
    }
    
}
@media only screen and (max-width: 770px){
    .container-nav{
        width: 100%!important   ;
    }
    .font-size-intro{
        /* font-size:4rem!important; */
    }
    .container-body{
        width: 88%!important;
        margin-top: 150px!important;
    }
    .btn-style{
        width: 100%!important;
        font-size: 13px;
    }
    #sec3{
        background-size: 100%;

    }
    .padding-title{
        margin: 0px auto !important;
        font-size: 2rem !important;
        padding-top: 50px !important;
    }
    .container-row{
        width: 80% !important;
        margin-right: 200px !important;
        padding-top: 25px !important;
    }
    .icons{
        width: 15% !important;
    }
    .rocket{
        width: 12% !important;
    }
    .woman-img{
        margin-bottom: 0px !important;
        margin: 50px calc(30%);
    }
    .text-info{
        width: 100% !important;
    }
}

.margin-right{
    margin-right: 80px;
}

/* .margin-top{
    margin-top: 200px;
} */
.text-align{
    text-align: center;
}
.container-body{
    width: 60%;
    margin: 200px auto!important;
}
.position-fixed{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
body{
    height: 4000px;
}
.font-size-intro{
    font-size: 2rem;
}

.fire-emoji{
    width: 30px;
}
.padding-button{
    padding: 15px;
}
.btn-style{
    border-radius: 12px;
    border: solid rgb(89, 86, 223);
}
.btn-bg-color{
    background: rgb(89, 86, 223);
    color: white;
}
.btn-color{
    color: rgb(89, 86, 223);
}
.text-info{
    width: 300px;
    height: auto;
    display: inline-block;
}
.instagram-img{
    width: 110px;
    /* margin-right: 2rem; */
}
.woman-img{
    width: 200px;
    /* position: absolute; */
    /* right: 350px; */
    /* top: 230px; */
    /* z-index: 10; */
    position: relative;
    margin-bottom: 20rem;
    /* margin-left: 10rem; */
} 
.noroot-img{
    /* width: 150px; */
    /* position: absolute; */
    /* right: 383px; */
    /* top: 90px; */
    z-index: 10;
    /* margin-left: 6rem; */
} 
/* 
 .atom-style{
    width: 30px;
    border-radius: 50%;
    background: #ffdc60;
    height: 30px;
    position: absolute;
    right: 415px;
    top: 89px;
    z-index:1;
}  */
.atom-style-big{
    width: 200px;
    background: #ffdc60;
    position: absolute;
    height: 200px;
    border-bottom-right-radius: 1000%;
    top: 0;
    left: 0;
    z-index: 0;
}
/* .atom-style-middle{
    width: 50px;
    background: #fab8c4; 
    height: 50px;
    position: absolute;
    border-radius: 50%;
    top: 433px;
    left: 233px;
} */

@keyframes scrollanim{
    from{
        background: white;
        background-position-y: 0;
    }
    to{
        background: white;
        background-position-y: 100;
    }
}
.scrollAnim{
    animation-name: scrollanim;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.atom-style-large{
    top: 830px;
    background: #fab8c4;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    position: absolute;
    right: 700px;
}

#sec3{
    background-image: url('https://static.tildacdn.com/tild3761-6133-4235-b031-626234323530/Background_element.svg');
    height: 1400px;
    background-repeat: no-repeat;
    background-color: #27272E;
    background-size: 100%;
}
.white{
    color: white;
}
.fs-7{
    font-size: 70px;
}

.padding-title{
    display: inline-block;
    padding-top: 110px;
    margin: 0px 400px;
    margin-left: 600px;
}
.container-row{
    width: 50%;
    margin: 0px auto;
}
.icons{
    width: 20%;
}
.info-text-icons{
    color: white;
}
.rocket{
    width: 15%;
}
.heart{
    width: 32%;
}
.medal{
    width: 25%;
}


@keyframes mymove {
    from {
      left:  100px;
         height: 0px;
         opacity: 0;
         border-bottom:0px;
    }
    to {
        height: auto;

    }
}

.navbar-nav a.nav-link{
    font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
    padding: 0px !important;
}
ul.navbar-nav li.nav-item{
  margin: 0 20px;
}
ul.navbar-nav .nav-item:after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    transition: width .5s ease, background-color .5s ease;
}
.navbar-nav .nav-item:hover:after {
    width: 100%;
    background:rgb(89, 86, 223);

}
.text-introduction{
    width: 70%;
    /* margin: 0px auto; */
}
.buttons-text{
    width: 600px;
    margin: 0px 16px;
}